@{
    ViewBag.Title = "Buy";
}
<h2>
    Buy</h2>
<p>
    You clicked on the: @ViewBag.ButtonName
</p>
<p>
    How many widgets are you going to purchase?</p>
<form method="post">
    <select name="amount">
        <option value="4">1 widget for $4</option>
        <option value="7">2 widgets for $7</option>
        <option value="9">3 widgets for $9</option>
    </select>
    <input type="submit" name="submit" value="Buy Now"></input>
</form>
